<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
  </head>
  <body class="dark:bg-black h-screen flex justify-center items-center">
    <div class="bg-emerald-500 h-36 w-36 rounded-t-full flex justify-center items-end">
        <div class="dark:bg-white h-10 w-10 rounded-t-full bg-slate-900"></div>
    </div>

  </body>
</html>
